VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_Owner_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_USER_ID=

CLOUDINARY_CLOUD_NAME=abcxyz
CLOUDINARY_API_KEY=123456
CLOUDINARY_API_SECRET=abcdef
CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@dupnbyhjc