@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../font/Lausanne-300.woff2);
}

@font-face {
    font-family: font2;
    src: url(../font/Lausanne-500.woff2);
}


body{
    background-color: rgb(33, 16, 16);
}