body {
    background-color: black;
}

@import "tailwindcss";

@font-face {
    font-family: font1;
    src: url(../font/Lausanne-300.woff2);
}

@font-face {
    font-family: font2;
    src: url(../public/fonts/Lausanne-500.woff2);
}

/* Link Animation */
.link {
    overflow: hidden;
    transform-style: preserve-3d;
}

/* Hover Layer */
.moveLink {
    opacity: 0;
    transform: translateY(-100%);
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

/* Hover Effect */
.link:hover .moveLink {
    opacity: 1;
    transform: translateY(0%);
}

/* Marquee Animation */
.moveX {
    display: flex;
    align-items: center;
    width: max-content;

    animation-name: moveAnimation;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moveAnimation {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}